/* Tabla */
table {
    text-align: center;
}

table tr th {
    background-color: #99ACFF !important;
}

table tr td {
    background-color: #CDD6FF !important;
}

#btnAgregar {
    background-color: #42FF00 !important;
    border-color: #42FF00 !important;
}

#btnAgregar:hover {
    background-color: #91f36d !important;
}

h2 {
    text-align: center;
    margin: 20px !important;
}

.list-group li {
    list-style: none;
}

.list-group li:hover {
    background-color: #99ACFF !important;
    color: #000;
}

.btnAgregar {
    background-color: #42FF00 !important;
    border-color: #42FF00 !important;
}