body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E1EDF6 !important;
}
/* Menu */
.nav {
    background-color: #180876;
    padding: 20px 0;
  }

  .nav-link {
    color: white !important;
  }
table{
    text-align: center;
    width: 90% !important;
    margin: 5%;
}
table tr th{
    background-color:#99ACFF !important;
}
table tr td{
    background-color: #CDD6FF !important;
}
#btnEditar{
    background-color: #0075FF;
    padding: 5px;
    border-radius: 10px;
}
#btnEliminar{
    background-color: #FF0000;
    padding: 5px;
    border-radius: 10px;
}