body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E1EDF6 !important;
}

/* Menu */
.navbar {
    background-color: #180876 !important;
    padding: 20px 0;
}

.navbar .nav-link {
    color: white !important;
}

.navbar .nav-link:hover {
    color: #FFD700 !important;
}

/* Contenido */
.inicio,
.registro {
    text-align: center;
}

.registro h4 {
    color: #197DC9;
}

.registro a {
    text-decoration: none;
    border-radius: 25px;
    background-color: #2700A8;
    color: #fff;
    padding: 10px 20px;
}

.registro a:hover {
    background-color: #180876;
}

.separador {
    width: 1px;
    background-color: #6DADD1;
    height: auto;
    margin: 0 15px;
}

input[type="email"],
input[type="password"] {
    text-align: center;
}

.full-height {
    display: flex;
    align-items: center;
}